body {
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

#container {
    width: 50%;
    min-width: 400px;
    background-color: hsla(0, 0%, 0%, 0.35);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(4px);
    transition: opacity 0.7s ease;
}
#container::-webkit-scrollbar {
    width: 5px;
}
#container::-webkit-scrollbar-track {
    background: transparent; 
}
#container::-webkit-scrollbar-thumb {
    background-color: var(--main-color, #555555);
    border-radius: 4px;
}
#container::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color-hover, #888888);
}   

#hide-btn {
    position: fixed;
    bottom: 6px;
    right: 6px;
    z-index: 999;

    background-color: hsla(0, 0%, 0%, 0);
    color: hsla(0, 0%, 100%, 0.5);
    border: 1px solid hsla(0, 0%, 100%, 0.16);
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-family: inherit;
    backdrop-filter: blur(4px);
    transition: background-color 0.2s;
    user-select: none;
}
#hide-btn:hover {
    background-color: var(--main-color-hover, (0, 0%, 100%, 0.1));
    color: var(--main-color, white);
    border: 1px solid var(--main-color, hsla(0, 0%, 100%, 0.16));
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.song-card {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;
    background-color: hsla(0, 0%, 100%, 0);
    margin-bottom: 1px;
}
.song-card:hover{
    background-color: hsla(0, 0%, 100%, 0.1);
    transition: background-color 0.2s ease;
}

.active-card {
    background-color: var(--active-color, hsla(0, 0%, 100%, 0.24));
    transition: background-color 0.2s ease;
    border: 1px solid var(--main-color-border, (0, 0%, 100%, 0.3));
}
.active-card:hover {
    background-color: var(--active-color-hover, hsla(0, 0%, 100%, 0.3));
    transition: background-color 0.2s ease; 
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
    margin: 6px;
    border: 1px solid var(--main-color-border, (0, 0%, 100%, 0.3));
}

h3 {
    font-weight: bold;
    margin: 0;
    font-size: 1em;
}

p {
    color: #d4d4d4;
    margin: 0;
    font-size: .75em;
}

.duration {
    font-weight: bold;
    margin-left: auto;
    color: #e4e4e4;
}

.play-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    padding: 0 15px 5px 10px;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    outline: none;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
    filter: brightness(0.75);
    pointer-events: none;
    transition: filter 0.7s ease;
}
.video-bg-undimmed {
    filter: brightness(1);
}

.player {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    background-color: hsla(0, 0%, 0%, 0.8);
    width: 65%;
    border: 2px solid var(--active-color, #ffffff);
    height: 50px;
    border-radius: 18px;
    backdrop-filter: blur(4px);
}

.warning-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    z-index: 1000;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Avenir Next", "Century Gothic", "Tw Cen MT", sans-serif;
    transition: opacity 0.5s ease;
}
.warning-header {
    color: red;
    font-size: 5.2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1.5s ease;
}
.warning-desc {
    font-size: 2.5em;
    width: 50%;
    font-weight: bold;
    opacity: 0;
    transition: opacity 2s ease;
}
.continue-btn {
    height: 16%;
    width: 32%;
    margin: 20px;
    background-color: transparent;
    border: 4px solid red;
    color: white;
    font-size: 4.5em;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.7s ease, opacity 2s ease;
    opacity: 0;
}
.continue-btn:hover {
    background-color: red;
}
.warning-container-hidden {
    opacity: 0;
    pointer-events: none;
}
.showing-up-trasition {
    opacity: 1;
}