body {
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

#container {
    padding-top: 45px;
    width: 50%;
    min-width: 400px;
}

.song-card {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    backdrop-filter: blur(4px);
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;
    background-color: hsla(0, 0%, 100%, 0);
    margin-bottom: 1px;
}
.song-card:hover{
    background-color: hsla(0, 0%, 100%, 0.12);
    transition: background-color 0.2s ease;
}

.active-card {
    background-color: var(--active-color, hsla(0, 0%, 100%, 0.24));
    transition: background-color 0.2s ease;
}
.active-card:hover {
    background-color: var(--active-color-hover, hsla(0, 0%, 100%, 0.3));
    transition: background-color 0.2s ease; 
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
    margin: 6px;
}

h3 {
    font-weight: bold;
    margin: 0;
    font-size: 1em;
}

p {
    color: #d4d4d4;
    margin: 0;
    font-size: .75em;
}

.duration {
    font-weight: bold;
    margin-left: auto;
    color: #e4e4e4;
}

.play-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    padding: 0 15px 5px 10px;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    outline: none;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
    filter: brightness(0.75);
    pointer-events: none;
}